html{
    background-color: #c2ebff;
}
header
{
    background-color: #c2ebff;
    text-align: center;
}
nav
{
    background-color: #fad9e7;
    text-align: center;
    color: black;
}
div
{
    color: black;
}
section
{
    float: left;
    width: 70%;
    background-color: #fad9e7;
}
aside
    {
        width: 30%;
        float: left;
        background-color: #fad9e7;
    }
footer
    {
        background-color: #c2ebff;
    }
.Contenedor::after{
    content: "";
    display: block;
    clear: both;
}
/*Menu Desplegable*/
.menu li{
    display: inline-block;
}
li a, boton{
    display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 0.8em 0.7em;
}
.ListaDesplegable{
    display: none;
    position: absolute;
}
.ListaDesplegable a{
    display: block;
    text-align: left;
}
.boton:hover .ListaDesplegable{
    display: block;
}
li a:hover{
    background-color:#7fffd4;
}